[Desktop Entry]
Name=dCursor
Comment=The AI Code Editor (dCursor mirror instance).
GenericName=Text Editor
Exec=/usr/share/dcursor/bin/dcursor-gui %F
Icon=co.anysphere.dcursor
Type=Application
StartupNotify=false
StartupWMClass=dCursor
Categories=TextEditor;Development;IDE;
MimeType=application/x-dcursor-workspace;
Actions=new-empty-window;
Keywords=dcursor;cursor;ai;editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/dcursor/bin/dcursor-gui --new-window %F
Icon=co.anysphere.dcursor
